{{!-- Heading --}}
<div class="row" id ="heading">
    <div class="col-md-12" id = "top-bun">
        <img src="../public/assests/img/burger_top.png" alt="top bun">
    </div>
    <div class="col-sm-12">
      <h1>Eat-Da-Burger!</h1>
    </div>
    <div class="col-md-12" id = "bottom-bun">
        <img src="../public/assets/img/burger_bottom.png" alt="bottom bun">
    </div>
</div>

{{!-- Main --}}
<div class="row">

    <div class="col-sm-6">
        <h2>All the Burgers. Eat one!</h2>
        <ul>
            {{#each burgers}}
                {{#unless devoured}}
                <li class = 'burger-li'>
                    {{burger_name}} <button class="btn btn-danger devoured-button" data-id="{{id}}" data-devoured="{{devoured}}">Devour</button>
                </li>
                {{/unless}}
            {{/each}}
        </ul>
    </div>

    <div class="col-sm-6">
      <h2>Devoured Burgers</h2>
      <ul>
            {{#each burgers}}
                {{#if devoured}}
                    <li>
                        {{burger_name}} 
                    </li>
                {{/if}}
            {{/each}}
      </ul>
    </div>
</div>

{{!-- Add Burger Form --}}
<div class="row">
    <div class="col-sm-4">
        <h2>Add a Burger</h2> 

        <form>
            <div class="mb-3">
                <textarea class="form-control" id="add-burger-input" rows="3"></textarea>
                <button type="submit" id="add-burger-button" class="btn btn-primary">Add Burger</button>
            </div>
        </form>

    </div>
</div>
