{{!-- Heading --}}
<div class="row" id ="heading">
    <div class="col-sm-12">
      <h1>Eat-Da-Burger!</h1>
    </div>
</div>

{{!-- Main --}}
<div class="row">

    <div class="col-sm-6">
        <h2>All the Burgers. Eat one!</h2>
        <ul>
            {{burgers}}
        </ul>
    </div>

    <div class="col-sm-6">
      <h2>Devoured Burgers</h2>
    </div>
</div>
