/* .col-md-12.top-bun {
    border: 1px solid red;
    background-image: url("../img/burger_top.png");
} */


h1 {
    color: green;
    text-align: center;
    margin: 30px 0px 30px 0px;
}

#add-burger-button {
    margin-top: 10px;
}

ul li {
    display: block;
    margin-top: 20px;
}

